<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="antony.garand.io.demoapp">


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="io.garand.antony.jeuandroid.Screens.GameStart"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Far Far Away"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
